
        .foto2{
            filter: brightness(30%);
        }

        .fotohonolulu{
            max-width: 100%;
        }


        .botontransparente:hover{
            background-color: white !important;
            color: black !important;
        }

        
        
        nav {
            background-color: hsl(200, 10%, 25%);
            font-size: 1.2rem;
        }

        nav a {
            color: white;
        }

        .nav-link {
            color: white;
            text-decoration: none;
        }

        nav a img {
            margin-left: 60px;
        }

        .oradores {
            text-align: center;
        }

        .row-cols-1 {
            margin-left: 150px;
            margin-right: 150px;
        }

        
        nav ul li a span {
            color: green;
            margin-right: 0px;
        }

        .foto {
            padding-left: 0%;
        }

        .botontransparente {
            background-color: transparent !important;
            color: white;
            border: 1px solid white;
        }

        .card-title {
            padding-top: 10px;
            color: white;
        }

        .coldos {
            background-color: rgb(43, 42, 46);
            margin-left: -11px;
        }

        .card-text-dos {
            color: white;
            font-size: small;
        }



        .row-cols-1 {
            margin-left: 150px;
            margin-right: 150px;
        }

        footer ul li a {
            vertical-align: middle;
            margin: 0 25px;
        }


        .img {
            background-color: rgb(19, 29, 29);
            background-image: url(img/ba1.jpg);
        }

      

        .botonverde {
            background-color: rgb(31, 158, 31);
            color: white;
        }

        .card2{
            align-items:flex-end;
            margin-top: 300px;
            border: none;
            margin-right: 15px;
        }


        .forma {
            margin-top: 10px;
        }

        .btn {
            background-color: rgb(140, 189, 44);
            border-width: 0px;
            margin-top: 10px;
        }

        .oradores span {
            border-bottom: 1px dotted;
        }

        footer {
            background-image: linear-gradient(to right, rgb(25, 56, 92), rgba(9, 55, 70, 0.856));
            ;
        }
